:root {
  --primary-color: #33c3ff;
  --heading-color: #0b1f27;
}

body {
  font-family: "Times New Roman", Times, serif;
}

section {
  padding: 50px 3px;
}

a {
  text-decoration: none;
  color: unset;
}
a:hover {
  color: unset;
}
link {
  text-decoration: none;
  color: unset;
}
link:hover {
  color: unset;
}
ul{
  list-style: none;
}
.container{
  width: 1140px;
  padding: 0px 15px;
  margin: auto;
}
.section-title{
  color: var(--heading-color);
  font-weight: 700;
}
